<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Deliver.ly | @ViewData["Title"] </title>
    <!--FavIcon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <nav id="navbarScroll" class="container-fluid sticky-top bg-white border-bottom">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
            <a href="~/Home" class="d-flex col-md-3 mb-md-0 text-dark text-decoration-none">
                <img src="~/img/logo1.png"
                     style="width:60%; height:auto; display: block; margin-left:auto; margin-right:auto;" />
            </a>

            <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
                <li><a href="#benifits" class="nav-link px-2 link-dark">Why Deliver.ly?</a></li>
                <li><a href="#TrackShipPackage" class="nav-link px-2 link-dark">Track & Ship</a></li>
                <li><a href="#Pickup" class="nav-link px-2 link-dark">Pickup</a></li>
                <li><a href="#FAQ" class="nav-link px-2 link-dark">Questions?</a></li>
            </ul>

            <div class="col-md-3 text-end dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login / Signup
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form class="p-4 text-center">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="~/Registration">No Account? Sign up</a>
                    <a class="dropdown-item text-center" href="#">Forgot password?</a>
                </div>
            </div>
        </header>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</body>

</html>